<div class="sidebar__item">
    <h5 class="sidebar__title">Categories</h5>

    <div class="sidebar-content -list">

        <a class="text-dark-1" href="#">College</a>

        <a class="text-dark-1" href="#">Gym</a>

        <a class="text-dark-1" href="#">High School</a>

        <a class="text-dark-1" href="#">Primary</a>

        <a class="text-dark-1" href="#">School</a>

        <a class="text-dark-1" href="#">University</a>

    </div>
</div>