<div class="col-lg-3">

    <div data-anim="slide-up delay-3" class="sidebar -blog">
        <div class="sidebar__item">
            <h5 class="sidebar__title">Categories</h5>

            <div class="sidebar-content -list">

                <a class="text-dark-1" href="#">College</a>

                <a class="text-dark-1" href="#">Gym</a>

                <a class="text-dark-1" href="#">High School</a>

                <a class="text-dark-1" href="#">Primary</a>

                <a class="text-dark-1" href="#">School</a>

                <a class="text-dark-1" href="#">University</a>

            </div>
        </div>

        <div class="sidebar__item">
            <h5 class="sidebar__title">Recent Posts</h5>

            <div class="sidebar-content -recent y-gap-20">

                <div class="sidebar-recent d-flex items-center">
                    <div class="sidebar-recent__image mr-15">
                        <img src="~/img/blog-list/1.png" alt="image">
                    </div>

                    <div class="sidebar-recent__content">
                        <h5 class="text-15 lh-15 fw-500">Find the Right Learning Path for your</h5>
                        <div class="text-13 lh-1 mt-5">April 13, 2022</div>
                    </div>
                </div>

                <div class="sidebar-recent d-flex items-center">
                    <div class="sidebar-recent__image mr-15">
                        <img src="~/img/blog-list/2.png" alt="image">
                    </div>

                    <div class="sidebar-recent__content">
                        <h5 class="text-15 lh-15 fw-500">Find the Right Learning Path for your</h5>
                        <div class="text-13 lh-1 mt-5">April 13, 2022</div>
                    </div>
                </div>

                <div class="sidebar-recent d-flex items-center">
                    <div class="sidebar-recent__image mr-15">
                        <img src="~/img/blog-list/3.png" alt="image">
                    </div>

                    <div class="sidebar-recent__content">
                        <h5 class="text-15 lh-15 fw-500">Find the Right Learning Path for your</h5>
                        <div class="text-13 lh-1 mt-5">April 13, 2022</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="sidebar__item">
            <h5 class="sidebar__title">Tags</h5>

            <div class="sidebar-content -tags">

                <div class="sidebar-tag">
                    <a class="text-11 fw-500 text-dark-1" href="#">Courses</a>
                </div>

                <div class="sidebar-tag">
                    <a class="text-11 fw-500 text-dark-1" href="#">Learn</a>
                </div>

                <div class="sidebar-tag">
                    <a class="text-11 fw-500 text-dark-1" href="#">Online</a>
                </div>

                <div class="sidebar-tag">
                    <a class="text-11 fw-500 text-dark-1" href="#">Education</a>
                </div>

                <div class="sidebar-tag">
                    <a class="text-11 fw-500 text-dark-1" href="#">LMS</a>
                </div>

                <div class="sidebar-tag">
                    <a class="text-11 fw-500 text-dark-1" href="#">Training</a>
                </div>

            </div>
        </div>
    </div>

</div>