<div class="sidebar__item">
    <h5 class="sidebar__title">Tags</h5>

    <div class="sidebar-content -tags">

        <div class="sidebar-tag">
            <a class="text-11 fw-500 text-dark-1" href="#">Courses</a>
        </div>

        <div class="sidebar-tag">
            <a class="text-11 fw-500 text-dark-1" href="#">Learn</a>
        </div>

        <div class="sidebar-tag">
            <a class="text-11 fw-500 text-dark-1" href="#">Online</a>
        </div>

        <div class="sidebar-tag">
            <a class="text-11 fw-500 text-dark-1" href="#">Education</a>
        </div>

        <div class="sidebar-tag">
            <a class="text-11 fw-500 text-dark-1" href="#">LMS</a>
        </div>

        <div class="sidebar-tag">
            <a class="text-11 fw-500 text-dark-1" href="#">Training</a>
        </div>

    </div>
</div>