<section class="layout-pt-lg layout-pb-md">

    <div data-anim-wrap class="container">

        <h2>Home - TestAction</h2>

        <p>Второе представление представление</p>
    
        <a href="/home/index">Переход в первое представление</a>

    </div>

</section>
