<div class="sidebar__item">
    <h5 class="sidebar__title">Recent Posts</h5>

    <div class="sidebar-content -recent y-gap-20">

        <div class="sidebar-recent d-flex items-center">
            <div class="sidebar-recent__image mr-15">
                <img src="~/img/blog-list/1.png" alt="image">
            </div>

            <div class="sidebar-recent__content">
                <h5 class="text-15 lh-15 fw-500">Find the Right Learning Path for your</h5>
                <div class="text-13 lh-1 mt-5">April 13, 2022</div>
            </div>
        </div>

        <div class="sidebar-recent d-flex items-center">
            <div class="sidebar-recent__image mr-15">
                <img src="~/img/blog-list/2.png" alt="image">
            </div>

            <div class="sidebar-recent__content">
                <h5 class="text-15 lh-15 fw-500">Find the Right Learning Path for your</h5>
                <div class="text-13 lh-1 mt-5">April 13, 2022</div>
            </div>
        </div>

        <div class="sidebar-recent d-flex items-center">
            <div class="sidebar-recent__image mr-15">
                <img src="~/img/blog-list/3.png" alt="image">
            </div>

            <div class="sidebar-recent__content">
                <h5 class="text-15 lh-15 fw-500">Find the Right Learning Path for your</h5>
                <div class="text-13 lh-1 mt-5">April 13, 2022</div>
            </div>
        </div>

    </div>
</div>