<section class="layout-pt-lg layout-pb-md">
    <div data-anim-wrap class="container">
        <div class="row justify-center">
            <div class="col text-center">
                <p class="text-lg text-dark-1">Trusted by the world’s best</p>
            </div>
        </div>

        <div class="row y-gap-30 justify-between sm:justify-start items-center pt-60 md:pt-50">

            <div data-anim-child="slide-up delay-1" class="col-lg-auto col-md-3 col-sm-4 col-6">
                <div class="d-flex justify-center items-center px-4">
                    <img class="w-1/1" src="img/clients/1.svg" alt="clients image">
                </div>
            </div>

            <div data-anim-child="slide-up delay-1" class="col-lg-auto col-md-3 col-sm-4 col-6">
                <div class="d-flex justify-center items-center px-4">
                    <img class="w-1/1" src="img/clients/2.svg" alt="clients image">
                </div>
            </div>

            <div data-anim-child="slide-up delay-1" class="col-lg-auto col-md-3 col-sm-4 col-6">
                <div class="d-flex justify-center items-center px-4">
                    <img class="w-1/1" src="img/clients/3.svg" alt="clients image">
                </div>
            </div>

            <div data-anim-child="slide-up delay-1" class="col-lg-auto col-md-3 col-sm-4 col-6">
                <div class="d-flex justify-center items-center px-4">
                    <img class="w-1/1" src="img/clients/4.svg" alt="clients image">
                </div>
            </div>

            <div data-anim-child="slide-up delay-1" class="col-lg-auto col-md-3 col-sm-4 col-6">
                <div class="d-flex justify-center items-center px-4">
                    <img class="w-1/1" src="img/clients/5.svg" alt="clients image">
                </div>
            </div>

            <div data-anim-child="slide-up delay-1" class="col-lg-auto col-md-3 col-sm-4 col-6">
                <div class="d-flex justify-center items-center px-4">
                    <img class="w-1/1" src="img/clients/6.svg" alt="clients image">
                </div>
            </div>

        </div>
    </div>
</section>