<section class="layout-pt-md layout-pb-md">
    <div data-anim-wrap class="container">
        <div class="row justify-center text-center">
            <div class="col-auto">

                <div class="sectionTitle ">

                    <h2 class="sectionTitle__title ">Top Categories</h2>

                    <p class="sectionTitle__text ">Lorem ipsum dolor sit amet, consectetur.</p>

                </div>

            </div>
        </div>

        <div class="overflow-hidden pt-50 js-section-slider" data-gap="30" data-loop data-pagination data-slider-cols="xl-6 lg-4 md-2 sm-2">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div data-anim-child="slide-left delay-2" class="featureCard -type-1 -featureCard-hover">
                        <div class="featureCard__content">
                            <div class="featureCard__icon">
                                <img src="img/featureCards/1.svg" alt="icon">
                            </div>
                            <div class="featureCard__title">Design Creative</div>
                            <div class="featureCard__text">573+ Courses</div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div data-anim-child="slide-left delay-3" class="featureCard -type-1 -featureCard-hover">
                        <div class="featureCard__content">
                            <div class="featureCard__icon">
                                <img src="img/featureCards/2.svg" alt="icon">
                            </div>
                            <div class="featureCard__title">Sales Marketing</div>
                            <div class="featureCard__text">565+ Courses</div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div data-anim-child="slide-left delay-4" class="featureCard -type-1 -featureCard-hover">
                        <div class="featureCard__content">
                            <div class="featureCard__icon">
                                <img src="img/featureCards/3.svg" alt="icon">
                            </div>
                            <div class="featureCard__title">Development IT</div>
                            <div class="featureCard__text">126+ Courses</div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div data-anim-child="slide-left delay-5" class="featureCard -type-1 -featureCard-hover">
                        <div class="featureCard__content">
                            <div class="featureCard__icon">
                                <img src="img/featureCards/4.svg" alt="icon">
                            </div>
                            <div class="featureCard__title">Engineering Architecture</div>
                            <div class="featureCard__text">35+ Courses</div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div data-anim-child="slide-left delay-6" class="featureCard -type-1 -featureCard-hover">
                        <div class="featureCard__content">
                            <div class="featureCard__icon">
                                <img src="img/featureCards/5.svg" alt="icon">
                            </div>
                            <div class="featureCard__title">Personal Development</div>
                            <div class="featureCard__text">908+ Courses</div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div data-anim-child="slide-left delay-7" class="featureCard -type-1 -featureCard-hover">
                        <div class="featureCard__content">
                            <div class="featureCard__icon">
                                <img src="img/featureCards/6.svg" alt="icon">
                            </div>
                            <div class="featureCard__title">Finance Accounting</div>
                            <div class="featureCard__text">129+ Courses</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="d-flex justify-center x-gap-15 items-center pt-60 lg:pt-40">
                <div class="col-auto">
                    <button class="d-flex items-center text-24 arrow-left-hover js-prev">
                        <i class="icon icon-arrow-left"></i>
                    </button>
                </div>
                <div class="col-auto">
                    <div class="pagination -arrows js-pagination"></div>
                </div>
                <div class="col-auto">
                    <button class="d-flex items-center text-24 arrow-right-hover js-next">
                        <i class="icon icon-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>