@model Person
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <h2>Информация о человеке</h2>

    <a href="/">Домой</a> |
    <a href="/person">К списку людей</a>


    <dl>
        <dd>Id:</dd>
        <dt>@Model.Id</dt>

        <dd>Имя:</dd>
        <dt>@Model.Name</dt>

        <dd>Фамилия:</dd>
        <dt>@Model.LastName</dt>
    </dl>
    <hr />

    <p>@Model.Description</p>



</body>
</html>
