@model IEnumerable<BlogsCategoryViewModel>

<div class="sidebar__item">
    <h5 class="sidebar__title">Categories</h5>

    <div class="sidebar-content -list">
        
        @foreach (var category in Model)
        {
            <a class="text-dark-1" asp-controller="Blog" asp-action="Category" asp-route-Id="@category.Id">@category.Name</a>
        }

    </div>
</div>